@charset "UTF-8";
/*------Normalize------*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, main, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1.15;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  background-color: transparent;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul, li {
  list-style-type: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, select {
  text-transform: none;
}

button, [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

/*------Fonts------*/
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-SemiBold.woff") format("woff"), url("../fonts/Montserrat-SemiBold.woff2") format("woff2");
  font-weight: 600;
}
@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/ProximaNova-Light.woff") format("woff"), url("../fonts/ProximaNova-Light.woff2") format("woff2");
  font-weight: 300;
}
@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova-Regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/ProximaNova-Semibold.woff") format("woff"), url("../fonts/ProximaNova-Semibold.woff2") format("woff2");
  font-weight: 600;
}
@font-face {
  font-family: "ProximaNovaCond";
  src: url("../fonts/ProximaNovaCond-Regular.woff") format("woff"), url("../fonts/ProximaNovaCond-Regular.woff2") format("woff2");
  font-weight: 400;
}
/*------Sass - переменные и миксины - позже разъединить файлы!!!!------*/
/*Объявление переменных*/
/*Объявление миксинов*/
/*------Body------*/
body {
  font-family: "ProximaNova", sans-serif;
  font-weight: 400;
  font-size: 0.875rem; /*--14px в макете / 16px (по умолчанию в браузере)--*/
  color: #292929;
  background-color: #F7F7F7;
}

.container {
  width: 100%;
  max-width: 73.125rem; /*--1170px в макете / 16px (по умолчанию в браузере)--*/
  margin: 0 auto;
}

/*------Header------*/
.header {
  width: 100%;
}

.header__banner {
  background-color: #D4E9F9;
}

.header-banner__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 33.625rem; /*--538px в макете / 16px (по умолчанию в браузере)--*/
  margin: 0 auto;
  padding: 0.5625rem 0; /*--9px в макете / 16px (по умолчанию в браузере)--*/
}

.header-banner__text {
  font-family: "ProximaNova", sans-serif;
  font-weight: 300;
  font-size: 1.125rem; /*--18px в макете / 16px (по умолчанию в браузере)--*/
  text-transform: uppercase;
  color: #292929;
}

.header__inner {
  background-color: #F7EBE5;
}

.header__top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 73.125rem; /*--1170px в макете / 16px (по умолчанию в браузере)--*/
  margin: 0 auto;
  padding: 1rem 0; /*--16px в макете / 16px (по умолчанию в браузере)--*/
}

.header-top__nav {
  display: flex;
  justify-content: space-between;
  width: 43.5rem; /*--696px в макете / 16px (по умолчанию в браузере)--*/
}

.header-top__link {
  color: #292929;
}

.header-top__text {
  font-family: "ProximaNovaCond", sans-serif;
  font-weight: 300;
  font-size: 1.125rem; /*--18px в макете / 16px (по умолчанию в браузере)--*/
}

.header-top__phone {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 8.4375rem; /*--135px в макете / 16px (по умолчанию в браузере)--*/
}

.header-top__basket {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 10rem; /*--160px в макете / 16px (по умолчанию в браузере)--*/
}

.nav__container {
  display: flex;
  justify-content: end;
  padding: 1.125rem 0; /*--18px в макете / 16px (по умолчанию в браузере)--*/
}

.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 70.125rem; /*--1122px в макете / 16px (по умолчанию в браузере)--*/
}

.nav__link {
  text-transform: uppercase;
  color: #292929;
}

.nav-link__stock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 5rem; /*--80px в макете / 16px (по умолчанию в браузере)--*/
}

.nav__logo {
  width: 7.75rem; /*--124px в макете / 16px (по умолчанию в браузере)--*/
}

.header-top__link--hover:hover,
.nav__link--hover:hover {
  text-decoration: underline;
  text-decoration-color: #E7426A;
  transition: color 0.1s linear;
}

.header-top__link--active:active,
.nav__link--active:active {
  color: #E7426A;
  transition: color 0.1s linear;
}

/*------Main------*/
/*-------------SALES BLOCK------------*/
.sales {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 73.125rem;
  margin: 0 auto;
}

.sales__h2 {
  display: flex;
  justify-content: center;
  align-items: start;
  margin-top: 5.875rem;
  margin-bottom: 3.0625rem;
  font-family: Montserrat;
  font-size: 1.875rem;
  font-weight: 600;
}

.sales__cards {
  display: flex;
  justify-content: space-between;
}

.sales__cards--sale_one {
  background-image: url("/assets/images/sells1.png");
}

.sales__cards--sale_two {
  background-image: url("/assets/images/sells2.png");
}

.sales__cards--sale_three {
  background-image: url("/assets/images/sells3.png");
}

.sales__cards--sale_four {
  background-image: url("/assets/images/sells4.png");
}

.sales__cards--sale_one, .sales__cards--sale_two, .sales__cards--sale_three,
.sales__cards--sale_four {
  display: flex;
  flex-direction: column;
  width: 16.875rem;
  height: 24.8125rem;
  align-items: center;
  justify-content: end;
  background-size: cover;
  border-radius: 0.3125rem;
}

.sales__cards--sale_one:hover {
  width: 17rem;
  height: 26rem;
}

.sales__cards--sale_two:hover {
  width: 17rem;
  height: 26rem;
}

.sales__cards--sale_three:hover {
  width: 17rem;
  height: 26rem;
}

.sales__cards--sale_four:hover {
  width: 17rem;
  height: 26rem;
}

.sales__cards--h3, .sales__cards--p {
  color: #FFFFFF;
  font-family: Montserrat;
  font-weight: 600;
}

.sales__cards--h3 {
  font-size: 1rem;
  margin-bottom: 0.2rem;
}

.sales__cards--p {
  font-size: 1.125rem;
  margin-bottom: 0.11rem;
}

.for-margin {
  margin-bottom: 3.125rem;
}

/*-------------HOLYDAYS BLOCK------------*/
.holidays {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 73.125rem;
  margin: 0 auto;
  margin-top: 7.875rem;
}

.holidays_h2 {
  display: flex;
  justify-content: center;
  font-size: 1.875rem;
}

.holiday_items {
  display: flex;
  justify-content: space-between;
}

.holiday_item_1,
.holiday_item_2,
.holiday_item_3,
.holiday_item_4,
.holiday_item_5,
.holiday_item_6 {
  display: flex;
  flex-direction: column;
  width: 10.62rem;
  border: 1px solid black;
  justify-content: end;
}

.holiday_img_1 {
  width: 6.25rem;
  height: 7.06rem;
  align-self: center;
  margin-bottom: 0.179rem;
}

.holiday_img_2 {
  width: 3.85rem;
  height: 2.96rem;
  align-self: center;
  margin-bottom: 0.394rem;
}

.holiday_img_3 {
  width: 3.62rem;
  height: 2.81rem;
  align-self: center;
  margin-bottom: 0.623rem;
}

.holiday_img_4 {
  width: 3.23rem;
  height: 2.47rem;
  align-self: center;
  margin-bottom: 0.687rem;
}

.holiday_img_5 {
  width: 3.85rem;
  height: 2.96rem;
  align-self: center;
  margin-bottom: 1.03rem;
}

.holiday_img_6 {
  width: 3.62rem;
  height: 2.81rem;
  align-self: center;
  margin-bottom: 1.39rem;
}

.holiday_text {
  display: flex;
  width: 10.62rem;
  text-align: center;
  font-size: 14px;
  justify-content: center;
  font-weight: bold;
}

/*------Footer------*/
/* блок карточки гарантии вкуса**/
/* позиционирование карточек**/
.garant__cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  -moz-column-gap: 1.875rem;
       column-gap: 1.875rem;
  margin: 0.625rem;
  padding-bottom: 6.25rem;
}

/* контент карточек гарантии вкуса**/
.garant__cards_content {
  width: 16.875rem;
  display: flex;
  margin: 1rem;
  padding: 0rem;
  flex-direction: column;
  position: relative;
}
.garant__cards_content img {
  width: 100%;
  padding-bottom: 1rem;
}

.garant__cards_content:hover {
  transform: scale(1.15);
  cursor: pointer;
}

/* общие заголовки блока гарантии вкуса**/
.garanties {
  background-color: #f7f7f7;
  margin-top: 3rem;
  padding-bottom: 1rem;
}
.garanties h2 {
  font-family: "Montserrat";
  font-size: 1.875rem;
  font-weight: 600;
  text-align: center;
  padding-top: 1rem;
}
.garanties h5 {
  font-family: "ProximaNova";
  font-size: 1.125rem;
  font-weight: 600;
}
.garanties p {
  font-family: "ProximaNova";
  font-size: 0.875rem;
  font-weight: 400;
  padding-top: 0;
  text-align: center;
}
.garanties h6 {
  font-family: "ProximaNova";
  font-size: 1.125rem;
  font-weight: 400;
  padding-top: 0;
  text-align: center;
  padding-top: 1rem;
}

/* ссылки на странице гарантии вкуса и качества**/
.nav_links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
}
.nav_links a {
  text-decoration: none;
  font-family: "ProximaNova";
  font-size: 0.875rem;
  font-weight: 400;
  color: #292929;
}

.main__link:hover,
.garant__link:hover {
  color: rgb(214, 214, 234);
}

/* карточки инстаграм**/
.instagram__gallery2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;
  margin: 0;
  -moz-column-gap: 1.25rem;
       column-gap: 1.25rem;
  row-gap: 1.25rem;
  margin: 0.625rem;
}
.instagram__gallery2 img {
  width: 10.625rem;
  height: 10.625rem;
}

.inst_card:hover {
  width: 12.5rem;
  height: 12.5rem;
}

/* общее блок инстаграмм**/
.instagram {
  margin-top: 5rem;
}
.instagram h2 {
  font-family: "Montserrat";
  font-size: 1.875rem;
  font-weight: 600;
  text-align: center;
}

/*блок с голубой полосай инстаграмм**/
.insta_menu {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  height: 5rem;
  background-color: #D4E9F9;
  margin-left: 0.625rem;
  margin-right: 0.625rem;
  font-family: "ProximaNova";
  font-size: 1rem;
  font-weight: 400;
  row-gap: 2rem;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.insta_menu_nav {
  flex-grow: 1;
  margin-left: 20rem;
  padding: 1.875rem;
  text-decoration: none;
}

.insta_menu ul {
  display: flex;
  flex-flow: row nowrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.insta_menu li {
  margin-right: 1.25rem;
}

.insta_menu li:last-child {
  margin-right: 0;
}/*# sourceMappingURL=style.css.map */