/*------Normalize------*/

*{
	padding: 0;
	margin: 0;
	border: 0;
}
*, *:before, *:after{ 
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus, :active{outline: none;}
a:focus, a:active{outline: none;}

nav,main,footer,header,aside{display: block;}

html, body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1.15;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;  
}

input::-ms-clear{display:none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a{background-color: transparent;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul, li{list-style-type: none;}
img{vertical-align: top;}

h1,h2, h3, h4, h5, h6{font-size: inherit;font-weight: 400;}
hr{box-sizing: content-box;height: 0;overflow: visible;}
pre{font-family: monospace, monospace;font-size: 1em;}
abbr[title]{border-bottom: none;text-decoration: underline;text-decoration: underline dotted; /* 2 */}
b,strong{font-weight: bolder;}
code,kbd,samp{font-family: monospace, monospace;font-size: 1em;}
small{font-size: 80%;}
sub,sup{font-size: 75%;line-height: 0;position: relative;vertical-align: baseline;}
sub{bottom: -0.25em;}
sup{top: -0.5em;}
img{border-style: none;}
button,input,optgroup,select,textarea {font-family: inherit;font-size: 100%;line-height: 1.15;margin: 0;}
button,select {text-transform: none;}
button,[type="button"],[type="reset"],[type="submit"] {-webkit-appearance: button;}
button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {border-style: none;padding: 0;}
button:-moz-focusring,[type="button"]:-moz-focusring,[type="reset"]:-moz-focusring,[type="submit"]:-moz-focusring {outline: 1px dotted ButtonText;}
fieldset{padding: 0.35em 0.75em 0.625em;}
legend {box-sizing: border-box;color: inherit;display: table;max-width: 100%;padding: 0;white-space: normal;}
progress{vertical-align: baseline;}
textarea {overflow: auto;}
[type="checkbox"],[type="radio"] {box-sizing: border-box;padding: 0;}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {height: auto;}
[type="search"] {-webkit-appearance: textfield ; outline-offset: -2px;}
[type="search"]::-webkit-search-decoration {-webkit-appearance: none;}
::-webkit-file-upload-button{-webkit-appearance: button;font: inherit;}
details{display: block;}
summary{display: list-item;}
template {display: none;}
[hidden] {display: none;}

/*------Fonts------*/

@font-face {
	font-family: 'Montserrat';
	src: url("../fonts/Montserrat-SemiBold.woff") format('woff'), url("../fonts/Montserrat-SemiBold.woff2") format('woff2');
	font-weight: 600;
}

@font-face {
	font-family: 'ProximaNova';
	src: url("../fonts/ProximaNova-Light.woff") format('woff'), url("../fonts/ProximaNova-Light.woff2") format('woff2');
	font-weight: 300;
}

@font-face {
	font-family: 'ProximaNova';
	src: url("../fonts/ProximaNova-Regular.woff") format('woff'), url("../fonts/ProximaNova-Regular.woff2") format('woff2');
	font-weight: 400;
}

@font-face {
	font-family: 'ProximaNova';
	src: url("../fonts/ProximaNova-Semibold.woff") format('woff'), url("../fonts/ProximaNova-Semibold.woff2") format('woff2');
	font-weight: 600;
}

@font-face {
	font-family: 'ProximaNovaCond';
	src: url("../fonts/ProximaNovaCond-Regular.woff") format('woff'), url("../fonts/ProximaNovaCond-Regular.woff2") format('woff2');
	font-weight: 400;
}

/*------Sass - переменные и миксины - позже разъединить файлы!!!!------*/

/*Объявление переменных*/

$mainFont: 'ProximaNova', sans-serif;
$secondaryFont: 'Montserrat', sans-serif;
$mainColor: #292929;
$secondaryColor: #FFFFFF;

/*Объявление миксинов*/

@mixin mainFont {
	font-family: 'ProximaNova', sans-serif;
	font-weight: 400;
	font-size: 0.875rem; /*--14px в макете / 16px (по умолчанию в браузере)--*/
	color: $mainColor;
}
@mixin mainH2{
	font-family:"Montserrat";
	font-size:1.875rem ;
	font-weight: 600;
}
@mixin mainH4{
	font-family: "Montserrat";
	font-size: 1.125rem;
	font-weight: 600;
}
/*------Body------*/

body {
	@include mainFont;
	background-color: #F7F7F7;
}

.container {
	width: 100%;
	max-width: 73.125rem; /*--1170px в макете / 16px (по умолчанию в браузере)--*/
	margin: 0 auto;
}

.big-button{
	width:18.3125rem;
	height:3.25rem;
	border:0.0625rem solid #4E9DD3;
	border-radius:0.1875rem;
	background-color:#F7F7F7;
	color: #000000;
}

.big-button:hover{
	color: #E7426A;
	border-color: #E7426A;
	transition: border-color .1s linear, color .1s linear;
}

.big-button:active{
	color:#F7F7F7;
	background-color:#E7426A;
	transition: background .1s linear, color .1s linear;
}
/*------Header------*/

.header {
	width: 100%;
}

.header__banner {
	background-color: #D4E9F9;
}

.header-banner__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 33.625rem; /*--538px в макете / 16px (по умолчанию в браузере)--*/
	margin: 0 auto;
	padding: 0.5625rem 0; /*--9px в макете / 16px (по умолчанию в браузере)--*/
}

.header-banner__text {
	font-family: 'ProximaNova', sans-serif;
	font-weight: 300;
	font-size: 1.125rem; /*--18px в макете / 16px (по умолчанию в браузере)--*/
	text-transform: uppercase;
	color: $mainColor;
}

.header__inner {
	background-color: #F7EBE5;
}

.header__top {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	max-width: 73.125rem; /*--1170px в макете / 16px (по умолчанию в браузере)--*/
	margin: 0 auto;
	padding: 1rem 0; /*--16px в макете / 16px (по умолчанию в браузере)--*/
}

.header-top__nav {
	display: flex;
	justify-content: space-between;
	width: 43.5rem; /*--696px в макете / 16px (по умолчанию в браузере)--*/
}

.header-top__link {
	color: $mainColor;
}

.header-top__text {
	font-family: 'ProximaNovaCond', sans-serif;
	font-weight: 300;
	font-size: 1.125rem; /*--18px в макете / 16px (по умолчанию в браузере)--*/
}

.header-top__phone {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 8.4375rem; /*--135px в макете / 16px (по умолчанию в браузере)--*/
}

.header-top__basket {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 10rem; /*--160px в макете / 16px (по умолчанию в браузере)--*/
}

.nav__inner {
	background-color: #FFFFFF;
}

.nav__container {
	display: flex;
	justify-content: end;
	padding: 1.125rem 0;/*--18px в макете / 16px (по умолчанию в браузере)--*/
}

.nav {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	width: 70.125rem; /*--1122px в макете / 16px (по умолчанию в браузере)--*/
}

.nav__link {
	text-transform: uppercase;
	color: $mainColor;
}

.nav-link__stock {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 5rem; /*--80px в макете / 16px (по умолчанию в браузере)--*/
}

.nav__logo {
	width: 7.75rem; /*--124px в макете / 16px (по умолчанию в браузере)--*/
}

.header-top__link--hover:hover,
.nav__link--hover:hover{
	text-decoration: underline;
	text-decoration-color: #E7426A;
	transition: color .1s linear;
}

.header-top__link--active:active,
.nav__link--active:active {
	color: #E7426A;
	transition: color .1s linear;
}

/*------HEADER CONTENT-----*/

.container__content {
	width: 100%;
	height: 29.6875rem; /*--475px в макете / 16px (по умолчанию в браузере)--*/
	background: url("../images/header-background.png") center no-repeat fixed;
	background-size: cover;
}

.header__container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin: 0 auto;
	max-width: 90rem; /*--1440px в макете / 16px (по умолчанию в браузере)--*/
}

.header__image {
	max-width: 40.9375rem; /*--655px в макете / 16px (по умолчанию в браузере)--*/
	height: auto;
	margin-top: 2.5rem; /*--40px в макете / 16px (по умолчанию в браузере)--*/
	object-fit: cover;
}

.header__box {
	margin-left: 4rem; /*--32px в макете / 16px (по умолчанию в браузере)--*/
}

.header__content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 100%;
	margin: 0 auto;
}

.header__logoname {
	font-family: $secondaryFont;
	font-size: 1.375rem; /*--22px в макете / 16px (по умолчанию в браузере)--*/
	text-transform: uppercase;
}

.header-logoname__subtitle {
	font-family: $secondaryFont;
	font-size: 1rem; /*--16px в макете / 16px (по умолчанию в браузере)--*/
	margin-bottom: 1.5rem; /*--24px в макете / 16px (по умолчанию в браузере)--*/
	width: 9.875rem; /*--158px в макете / 16px (по умолчанию в браузере)--*/
	position: relative;
}

.header-logoname__subtitle::before {
	content: "";
	width: 1.8125rem; /*--29px в макете / 16px (по умолчанию в браузере)--*/
	height: 0.0625rem; /*--1px в макете / 16px (по умолчанию в браузере)--*/
	background-color: $mainColor;
	position: absolute;
	left: 0;
	top: 50%;
}

.header-logoname__subtitle::after {
	content: "";
	width: 1.8125rem; /*--29px в макете / 16px (по умолчанию в браузере)--*/
	height: 0.0625rem; /*--1px в макете / 16px (по умолчанию в браузере)--*/
	background-color: $mainColor;
	position: absolute;
	right: 0;
	top: 50%;
}

.header__title {
	font-family: $secondaryFont;
	font-size: 2.625rem; /*--42px в макете / 16px (по умолчанию в браузере)--*/
	margin-bottom: 0.8125rem; /*--13px в макете / 16px (по умолчанию в браузере)--*/
}

.header__text {
	font-family: $mainFont;
	font-size: 1.125rem; /*--18px в макете / 16px (по умолчанию в браузере)--*/
}


/*------Main------*/


/*-------------SALES BLOCK------------*/
.sales{
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 73.125rem; 
	margin: 0 auto;
}
.sales__h2{
	display: flex;
	justify-content: center;
	align-items: start;
	margin-top:5.875rem ;
	margin-bottom:3.0625rem ;
	font-family:Montserrat;
	font-size:1.875rem ;
	font-weight: 600;
}
.sales__cards{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.sales__cards--sale_one{
	background-image: url("/assets/images/sells1.png");
}
.sales__cards--sale_two{
	background-image: url("/assets/images/sells2.png");
}
.sales__cards--sale_three{
	background-image: url("/assets/images/sells3.png");
}
.sales__cards--sale_four{
	background-image: url("/assets/images/sells4.png") ;
}
.sales__cards--sale_one,.sales__cards--sale_two,.sales__cards--sale_three,
.sales__cards--sale_four{
	display: flex;
	flex-direction: column;
	width: 16.875rem;
    height: 24.8125rem;
	align-items: center;
	justify-content: end;
	margin-bottom:1.875rem;
	background-size:cover;
	border-radius: 0.3125rem;
	transition: 0.2s; 
}
.sales__cards--sale_one,.sales__cards--sale_two,.sales__cards--sale_three{
	margin-right: 1.875rem;
}
.sales__cards--sale_one:hover{
	transform: scale(1.09);
	cursor: pointer;
}
.sales__cards--sale_two:hover{
	transform: scale(1.09);
	cursor: pointer;
}
.sales__cards--sale_three:hover{
	transform: scale(1.09);
	cursor: pointer;
}
.sales__cards--sale_four:hover{
	transform: scale(1.09);
	cursor: pointer;
}
.sales__cards--h3,.sales__cards--p{
	color: $secondaryColor;
	font-family:Montserrat;
	font-weight: 600;
}
.sales__cards--h3{
	font-size: 1rem;
	margin-bottom: 0.2rem;
}
.sales__cards--p{
	font-size:1.125rem;
	margin-bottom: 0.11rem;
}
.for-margin{
    margin-bottom: 3.125rem;
}

/*-------------HOLYDAYS BLOCK------------*/
.holidays {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 73.125rem;
	margin: 0 auto;
	margin-top: 7.875rem;
	margin-bottom: 6.75rem;
}
.holidays_h2 {
	@include mainH2;
	display: flex;
	justify-content: center;
}
.holiday_items {
	display: flex;
	justify-content: space-between;
}
.holiday_item_1,
.holiday_item_2,
.holiday_item_3,
.holiday_item_4,
.holiday_item_5,
.holiday_item_6 {
	display: flex;
	flex-direction: column;
	width: 10.62rem;
	justify-content: end;
	color: black;
	transition: 0.2s;
}
.holiday_img_1 {
	width: 6.25rem;
	height: 7.06rem;
	margin-left: 3.2rem;
	margin-bottom: 0.179rem;
	transition: 0.2s;
}
.holiday_img_2 {
	width: 3.85rem;
	height: 2.96rem;
	align-self: center;
	margin-bottom: 0.394rem;
	transition: 0.2s;
}
.holiday_img_3 {
	width: 3.62rem;
	height: 2.81rem;
	align-self: center;
	margin-bottom: 0.623rem;
	transition: 0.2s;
}
.holiday_img_4 {
	width: 3.23rem;
	height: 2.47rem;
	align-self: center;
	margin-bottom: 0.687rem;
	transition: 0.2s;
}
.holiday_img_5 {
	width: 3.85rem;
	height: 2.96rem;
	align-self: center;
	margin-bottom: 1.03rem;
	transition: 0.2s;
}
.holiday_img_6 {
	width: 3.62rem;
	height: 2.81rem;
	align-self: center;
	margin-bottom: 1.39rem;
	transition: 0.2s;
}
.holiday_text {
	display: flex;
	width: 10.62rem;
	text-align: center;
	font-size: 14px;
	justify-content: center;
	font-weight: bold;
}
.holiday_img_1:hover {
	transform: scale(1.09);
	cursor: pointer;
}
.holiday_img_2:hover {
	transform: scale(1.09);
	cursor: pointer;
}
.holiday_img_3:hover {
	transform: scale(1.09);
	cursor: pointer;
}
.holiday_img_4:hover {
	transform: scale(1.09);
	cursor: pointer;
}
.holiday_img_5:hover {
	transform: scale(1.09);
	cursor: pointer;
}
.holiday_img_6:hover {
	transform: scale(1.09);
	cursor: pointer;
}
.holiday_item_1:hover {
    text-decoration: underline;
    text-decoration-color: #E7426A;
    transition: color .1s linear;
}
.holiday_item_2:hover {
    text-decoration: underline;
    text-decoration-color: #E7426A;
    transition: color .1s linear;
}
.holiday_item_3:hover {
    text-decoration: underline;
    text-decoration-color: #E7426A;
    transition: color .1s linear;
}
.holiday_item_4:hover {
    text-decoration: underline;
    text-decoration-color: #E7426A;
    transition: color .1s linear;
}
.holiday_item_5:hover {
    text-decoration: underline;
    text-decoration-color: #E7426A;
    transition: color .1s linear;
}
.holiday_item_6:hover {
    text-decoration: underline;
    text-decoration-color: #E7426A;
    transition: color .1s linear;
}
.holiday_item_1:active {
	color: #E7426A;
	transition: color .1s linear;
}
.holiday_item_2:active {
	color: #E7426A;
	transition: color .1s linear;
}
.holiday_item_3:active {
	color: #E7426A;
	transition: color .1s linear;
}
.holiday_item_4:active {
	color: #E7426A;
	transition: color .1s linear;
}
.holiday_item_5:active {
	color: #E7426A;
	transition: color .1s linear;
}
.holiday_item_6:active {
	color: #E7426A;
	transition: color .1s linear;
}
/*-------------POPULAR-BOX BLOCK------------*/
.popular-box {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 73.125rem;
	margin: 0 auto;
	margin-bottom:5.3125rem;
}

.popular-box__h2 {
	display: flex;
	justify-content: center;
	align-items: start;
	margin-bottom: 2.625rem;
	font-family: "Montserrat";
	font-size: 1.875rem;
	font-weight: 600;
}

.popular-box__cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.popular-box__cards--cards_one, .popular-box__cards--cards_two,
.popular-box__cards--cards_four, .popular-box__cards--cards_five {
	margin-right: 1.875rem;
}

.popular-box__cards--cards_one, .popular-box__cards--cards_two, .popular-box__cards--cards_three,
.popular-box__cards--cards_four, .popular-box__cards--cards_five, .popular-box__cards--cards_six {
	display: flex;
	flex-direction: column;
	margin-bottom: 2.1875rem;
	border: 1px solid #EDEDF0;
	background-color: #FFFFFF;
	width: 23.125rem;
	height: 28.6875rem;
	border-radius: 0.3125rem;
	transition: 0.2s;
}

.popular-box__cards--cards_one:hover {
	transform: scale(1.07);
	cursor: pointer;
}

.popular-box__cards--cards_two:hover {
	transform: scale(1.07);
	cursor: pointer;
}

.popular-box__cards--cards_three:hover {
	transform: scale(1.07);
	cursor: pointer;
}

.popular-box__cards--cards_four:hover {
	transform: scale(1.07);
	cursor: pointer;
}

.popular-box__cards--cards_five:hover {
	transform: scale(1.07);
	cursor: pointer;
}

.popular-box__cards--cards_six:hover {
	transform: scale(1.07);
	cursor: pointer;
}

.popular-box__image {
	width: 23.125rem;
	height: 18.75rem;
}

.popular-box__cards--h4 {
	font-family: "Montserrat";
	font-size: 1.125rem;
	font-weight: 600;
	margin-top: 0.85rem;
	margin-bottom: 0.875rem;
}

.popular-box__cards--p {
	font-family: "ProximaNova", sans-serif;
	font-weight: 400;
	font-size: 0.875rem; /*--14px в макете / 16px (по умолчанию в браузере)--*/
	color: #292929;
}

.popular-box__cards--price-line {
	display: flex;
	justify-content: space-between;
	border-top: 1px solid #EDEDF0;
}
.popular-box__cards--price-line_button{
    display: flex;
	width:6.375rem;
	height:1.58rem;
	justify-content: space-between;
	align-items: center;
	background-color: #FFFFFF;
	margin-top:0.7125rem;
	margin-right:1.5625rem;
}
.box-button__text{
	margin-top: 0.3rem;
}
.popular-box__cards--price-line_button-text {
	font-family: "Montserrat";
	font-size: 0.875rem;
	font-weight: 600;
}
.popular-box__cards--price-line_button-text:hover{
	color: #E7426A;
}
.popular-box__cards--price-line-price {
	font-family: "Montserrat";
	font-size: 1.125rem;
	font-weight: 600;
	color: #E7426A;
	margin-top: 1rem;
	margin-left: 1.3125rem;
	background-color: #FFFFFF;
}

.also-margin {
	margin-bottom: 1.4rem;
}

.popular-box__cards--p, .popular-box__cards--h4 {
	margin-left: 1.3125rem;
}

.popular-box__button{
	display: flex;
	justify-content: center;
	font-family:"Montserrat";
	font-size:0.875rem ;
	font-weight: 600;
}
/*-------------BOXES PAGE------------*/
.boxes__nav{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 2.5625rem;
	margin-bottom: 1.3125rem;
	margin-left: 0.3rem;
}
.boxes__nav--link{
	@include mainFont;
	color: #8a8a8c;
	margin-right: 0.25rem;
}
.boxes__nav--link:hover{
	text-decoration: underline;
	text-decoration-color: #E7426A;
	transition: color .1s linear;
}
.active_page{
	color: #4E9DD3;
}
.active_page:hover{
	text-decoration-color: #E7426A;
}

/* блок карточки гарантии вкуса**/
/* позиционирование карточек**/
.garant__cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center; 
    column-gap: 1.875rem;
    margin: 0.625rem;
    padding-bottom: 6.25rem;
}
/* контент карточек гарантии вкуса**/
.garant__cards_content{
    width: 16.875rem;
    display:flex;
    margin: 1rem;
    padding: 0rem;
    flex-direction: column;
    position:relative;
	transition: 0.2s;
    img{
        width: 100%;
		padding-bottom: 1rem;
    }
}
.garant__cards_content:hover{
	transform: scale(1.15);
	cursor: pointer;
}
/* общие заголовки блока гарантии вкуса**/
.garanties{
    background-color: #f7f7f7;
    h2{
        font-family: "Montserrat";
        font-size: 1.875rem;
        font-weight: 600;
        text-align: center;
		padding-top: 1rem;
    }
    h5{
        font-family: "ProximaNova";
        font-size: 1.125rem;
        font-weight: 600;
    }
    p{
        font-family: "ProximaNova";
        font-size: 0.875rem;
        font-weight: 400;
        padding-top: 0;
        text-align: center;
    }
    h6{
        font-family: "ProximaNova";
        font-size: 1.125rem;
        font-weight: 400;
        padding-top: 0;
        text-align: center;
		padding-top: 1rem;
    }
	margin-top: 3rem;
	padding-bottom: 1rem;
}
/* ссылки на странице гарантии вкуса и качества**/
.nav_links{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    a{
        text-decoration: none;
        font-family: "ProximaNova";
        font-size: 0.875rem;
        font-weight: 400;
        color: #292929;
    }
}
.main__link:hover,
.garant__link:hover
{
    color: rgb(214, 214, 234);
}

/* карточки инстаграм**/
.instagram__gallery2
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center; 
    margin: 0;
    column-gap: 1.25rem;
    row-gap: 1.25rem;
    margin: 0.625rem;
	transition: 0.2s;
    img{
        width: 10.625rem;
        height: 10.625rem;
    }
}
.inst_card:hover{
	transform:scale(1.15);
	cursor:pointer;
}
/* общее блок инстаграмм**/
.instagram{
    h2{
        font-family: "Montserrat";
        font-size: 1.875rem;
        font-weight: 600;
        text-align: center;
    }
    margin-top: 5rem;
}
/*блок с голубой полосай инстаграмм**/
.insta_menu{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    height: 5rem;
    background-color:#D4E9F9;
    margin-left:0.625rem;
    margin-right: 0.625rem;
    font-family: "ProximaNova";
    font-size: 1rem;
    font-weight: 400;
    row-gap: 2rem;
    column-gap: 2rem;
	margin-top: 2rem;
	margin-bottom: 2rem;
}
.insta_menu_nav {
    flex-grow: 1;
    margin-left: 20rem;
    padding: 1.875rem;
    text-decoration: none;
  }
.insta_menu ul {
    display: flex;
    flex-flow: row nowrap;
    margin: 0;
    padding: 0;
    list-style: none;
  }

.insta_menu li {
    margin-right: 1.25rem;
  }
.insta_menu li:last-child {
    margin-right: 0;
  }
/* блок карточки мы позаботились**/
/* позиционирование карточек**/
.we-care__cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center; 
    column-gap: 0.9375rem;
    margin: 0.625rem;
}
/* контент карточек**/
.we-care__cards_content{
    width: 16.875rem;
    display:flex;
    margin: 0rem;
    padding: 0rem;
    flex-direction: column;
    position:relative;
	transition: 0.2s;
    img{
        width: 100%;
		padding-bottom: 1rem;
    }
}
.we-care__cards_content:hover{
	transform: scale(1.05);
	cursor: pointer;
}
/* общие заголовки блока мы позаботились**/
.we-care{
    h2{
        font-family: "Montserrat";
        font-size: 1.875rem;
        font-weight: 600;
        text-align: center;
		margin-bottom: 2rem;
    }
    h5{
        font-family: "Montserrat";
        font-size: 1.125rem;
        font-weight: 600;
    }
    p{
        font-weight: 400;
        padding-top: 0;
		margin-top:1rem;
		font-family: "ProximaNova";
        font-size: 0.875rem;
        font-weight: 400;
        padding-top: 0;
    }
    margin-top: 5rem;
}

/*------Footer------*/
.footer {
	width: 100%;
	background-color: rgb(235, 237, 238);
	margin-top: 4.625rem;/*--74px в макете / 16px (по умолчанию в браузере)--*/
  }
  .footer__container {
	height: 19.875rem; /*--318px в макете / 16px (по умолчанию в браузере)--*/
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
  }
  
  .footer__wrap-box {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-wrap: wrap;
  }
  
  .footer__ptofit {
	display: flex;
	flex-direction: row;
	width: 23.125rem;/*--370px в макете / 16px (по умолчанию в браузере)--*/
	justify-content: space-around;
	flex-wrap: wrap;
  }

  .footer__profit--items {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-wrap: wrap;
	
  }
  .footer__profit--item {
	margin-top: 0.875rem;/*--14px в макете / 16px (по умолчанию в браузере)--*/
  }
  
  .footer__profit--icon1 {
	width: 2.8rem; /*--44.95px в макете / 16px (по умолчанию в браузере)--*/
  }
  .footer__profit--icon2 {
	width: 3.104rem; /*--49.66px в макете / 16px (по умолчанию в браузере)--*/
  }
  .footer__profit--icon2 {
	width: 1.779rem; /*--28.46px в макете / 16px (по умолчанию в браузере)--*/
  }
  
  .footer__profit-text {
	text-align: center;
	// width: 8.75rem; /*--140px в макете / 16px (по умолчанию в браузере)--*/
	font-size: 0.75rem; /*--12px в макете / 16px (по умолчанию в браузере)--*/
	color: rgb(41, 41, 41);
	line-height: 110%;
  }

  .footer__add-info {
	width: 23.125rem;/*--370px в макете / 16px (по умолчанию в браузере)--*/
	height: 3.75rem; /*--60px в макете / 16px (по умолчанию в браузере)--*/
	margin-top: 1.75rem;/*--28px в макете / 16px (по умолчанию в браузере)--*/
  }

  
  .footer__add-info--text {
	color: rgb(41, 41, 41);
	font-size: 0.75rem; /*--12px в макете / 16px (по умолчанию в браузере)--*/
	font-weight: 400;
	line-height: 0.937rem; /*--15px в макете / 16px (по умолчанию в браузере)--*/
	text-align: left;
  }
  
  .footer__nav {
	display: flex;
	margin-left: 1.875rem; /*--30px в макете / 16px (по умолчанию в браузере)--*/
	flex-wrap: wrap;
  }
  
  .footer__header {
	height: 1.187rem; /*--19px в макете / 16px (по умолчанию в браузере)--*/	
	font-weight: 600;
	font-size: 1rem; /*--16px в макете / 16px (по умолчанию в браузере)--*/
	line-height: 1.187rem; /*--19px в макете / 16px (по умолчанию в браузере)--*/
	text-align: left;
	text-transform: uppercase;
  }
  
  .footer__list {
	width: 10.75rem;/*--172px в макете / 16px (по умолчанию в браузере)--*/
	margin-top: 1.312rem;/*--21px в макете / 16px (по умолчанию в браузере)--*/
  }

  .footer__list-item {
	padding-bottom: 1.125rem;/*--18px в макете / 16px (по умолчанию в браузере)--*/
  }
  
  .footer__list--link {	
	text-align: left;
	color: rgb(41, 41, 41);
	line-height: 1.06rem; /*--17px в макете / 16px (по умолчанию в браузере)--*/
  }
  
  .footer__contacts {
	display: flex;
	flex-direction: column;
	height: 9.625rem;/*--154px в макете / 16px (по умолчанию в браузере)--*/
	margin-left: 3.75rem;/*--60px в макете / 16px (по умолчанию в браузере)--*/
	justify-content: space-between;
	flex-wrap: wrap;
  }
  
  .footer__header-contacts {
	font-size: 1.125rem; /*--18px в макете / 16px (по умолчанию в браузере)--*/
	line-height: 1.375rem; /*--22px в макете / 16px (по умолчанию в браузере)--*/
	color: rgb(41, 41, 41);
	text-align: right;
  }
  
  .footer-text {
	text-align: right;
	color: rgb(41, 41, 41);
	padding-top: 0.312rem;/*--5px в макете / 16px (по умолчанию в браузере)--*/
  }
  .footer__apps {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
  }
  .footer__apps-item {
	width: 2.5rem; /*--40px в макете / 16px (по умолчанию в браузере)--*/
  }

  .footer__link--hover:hover{
	text-decoration: underline;
	text-decoration-color: #E7426A;
	transition: color .1s linear;
  }
  
  .footer__link--active:active {
	color: #E7426A;
	transition: color .1s linear;
  }

//   блок Навигационные карточки

.navigation_cards{
	width: 73.125rem;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	
}

.navigation_cards__one,.navigation_cards__second,.navigation_cards__third,.navigation_cards__forth,.navigation_cards__fifth,.navigation_cards__sixth{
	margin-top: 1.5625rem;/*--25 px в макете / 16px (по умолчанию в браузере)--*/
	display: flex;
	background-size: 35.625rem ;
	width:35.625rem; /*--570 px в макете / 16px (по умолчанию в браузере)--*/
	height:16.25rem ;  /*--18px в макете / 16px (по умолчанию в браузере)--*/
	align-items: center;
	justify-content: center;
	flex-direction: column;
	font-family: "ProximaNova", sans-serif;
	font-size: 1rem;
	font-weight: 400;
	transition: 0.2s;
	
	
	
}



.navigation_cards__one{
	background-image: url("/assets/images/card1.png");
	
}

.navigation_cards__second{
	background-image: url("/assets/images/card2.png");

}

.navigation_cards__third{
	background-image: url("/assets/images/card3.png");
}

.navigation_cards__forth{
	background-image: url("/assets/images/card4.png");
	

}
.navigation_cards__fifth{
	background-image: url("/assets/images/card5.png");
}

.navigation_cards__sixth{
	background-image: url("/assets/images/card6.png");
}


.navigation_cards__img{
	width: 6.25rem;
	height: 6.25rem;
	margin-top: -0.2rem;
	
}


.navigation_cards__vector{
	
	margin-top: 0.5rem;
	margin-left: 0.3rem;
	width: 1rem;
	height: 0.631875rem;
}

.navigation_cards__title{
	
	margin-bottom:0.625rem ;
	margin-top: 1.25rem;
	font-family: "Montserrat",Times,serif;
	font-size: 1.25rem ;

}


.navigation_cards__one:hover{
	
	transform: scale(1.05);
	cursor: pointer;
	
}
.navigation_cards__second:hover{
	
	transform: scale(1.05);
	cursor: pointer;
	
}

.navigation_cards__third:hover{
	
	transform: scale(1.05);
	cursor: pointer;
	
}

.navigation_cards__forth:hover{
	
	transform: scale(1.05);
	cursor: pointer;
	
}

.navigation_cards__fifth:hover{
	
	transform: scale(1.05);
	cursor: pointer;
	
}

.navigation_cards__sixth:hover{
	
	transform: scale(1.05);
	cursor: pointer;
	
}
.navigation_cards__title:hover{
	text-decoration: underline;
}

/*форма отзывов на свадебной странице**/
.feedback-form{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    justify-items: flex-start; 
    column-gap: 0.9375rem;
    margin: 0.625rem;
	height: 38.125rem;
	background-color: #f1f1f1;
	height: 65vh;
	margin-top: 5rem;
}
.feedback-form__content{
	h2{
		font-family: "Montserrat";
        font-size: 1.875rem;
        font-weight: 600;
        text-align: center;
		padding-top: 1rem;
	}	
}
.contact
{
	display: flex;
	flex-direction: row;
	column-gap: 2.5rem;
	margin-bottom: 1rem;
	input{
		width: 21vw;
		height:5vh;
		font-family: "ProximaNova";
        font-size: 0.875rem;
        font-weight: 400;
        padding-top: 0;
		margin-top:1rem;
	}
	label{
		width: 20vw;
		font-family: "ProximaNova";
        font-size: 0.875rem;
        font-weight: 400;
        padding-top: 0;
		margin-top:1rem;
	}
}
.your_idea{
	input{
		width: 45vw;
		height: 15vh;
	}
}
.feedback-form__content-form{
	label{
		display: block;
	}
	input{
		vertical-align: middle;

	}
}
.button_feedback__form{
	width: 15.875rem;
	height: 3.125rem;
	background-color: white;
	border: solid 0.0625rem #E7426A;
	color: #E7426A;
	font-weight: 600;
	margin-top: 2rem;
	margin-bottom: 1rem;
}

.button_feedback__form:hover{
	color:white;
	background-color:  #E7426A;
}
.feedback-form{
	p{
        font-family: "ProximaNova";
        font-size: 0.875rem;
        font-weight: 400;
        padding-top: 0;
		margin-top:0.75rem;
    }
}
/*-----Contacts-----*/
.contacts_container {
	display: flex;
	flex-direction: column;
	height: 41.31rem;
	background-color: #EDEDF0;
}
.contacts_items {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 8.31rem;
}
.contacts_item_1,
.contacts_item_2 {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	flex-wrap: wrap;
}
.contacts_item_1 {
	display: flex;
	margin-top: 5.125rem;
}
.contacts_item_2 {
	display: flex;
	margin-top: 6.56rem;
}
.contacts_header_2 {
	@include mainH2;
	display: flex;
}
.contacts_header_4 {
	@include mainH4;
}
.contacts_text_block_1 {
	display: flex;
	flex-direction: column;
	margin-bottom: 1.75rem;
}
.contacts_text_block_2 {
	display: flex;
	flex-direction: column;
	margin-bottom: 1.75rem;
}
.contacts_text_block_3 {
	display: flex;
	flex-direction: column;
	margin-bottom: 5.125rem;
}
.contacts_nav--link,
.contacts_nav--link-active_page {
	display: flex;
	flex-direction: row;
	justify-content: center;
	justify-items: center;
}
.contacts_nav--link:hover{
	text-decoration: underline;
	text-decoration-color: #E7426A;
	transition: color .1s linear;
}
.contacts_nav--link-active_page{
	color: #4E9DD3;
}
.contacts_nav--link-active_page:hover{
	text-decoration-color: #E7426A;
}
.contacts_nav{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 2.5625rem;
	margin-bottom: 1.3125rem;
	margin-left: 0.3rem;
  }
  .contacts_nav--link{
	@include mainFont;
	color: #8a8a8c;
	margin-right: 0.25rem;
  }
  .contacts_nav--link:hover{
	text-decoration: underline;
	text-decoration-color: #E7426A;
	transition: color .1s linear;
  }
  .contacts_nav--link-active_page{
	color: #4E9DD3;
  }
  .contacts_nav--link-active_page{
	text-decoration-color: #E7426A;
  }

  /*-----Catalog Page-----*/

.catalog__nav{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 2.5625rem; /*--41px в макете / 16px (по умолчанию в браузере)--*/
	margin-bottom: 1.3125rem; /*--21px в макете / 16px (по умолчанию в браузере)--*/
	margin-left: 0.3rem; /*--4.8px в макете / 16px (по умолчанию в браузере)--*/
}

.catalog__nav--link{
	@include mainFont;
	color: #8a8a8c;
	margin-right: 0.25rem; /*--4px в макете / 16px (по умолчанию в браузере)--*/
}

.catalog__nav--link:hover{
	text-decoration: underline;
	text-decoration-color: #E7426A;
	transition: color .1s linear;
}

.active__page{
	color: #4E9DD3;
}

.active__page:hover{
	text-decoration-color: #E7426A;
}

.catalog-box {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 73.125rem; /*--1170px в макете / 16px (по умолчанию в браузере)--*/
	margin: 0 auto;
	margin-bottom:5.3125rem; /*--85px в макете / 16px (по умолчанию в браузере)--*/
}

.catalog-box__h2 {
	display: flex;
	justify-content: center;
	align-items: start;
	margin-bottom: 2.625rem; /*-42px в макете / 16px (по умолчанию в браузере)--*/
	font-family: $secondaryFont;
	font-size: 1.875rem; /*-30px в макете / 16px (по умолчанию в браузере)--*/
	font-weight: 600;
}

.catalog__container {
	width: 100%;
	height: 24.0625rem; /*--385px в макете / 16px (по умолчанию в браузере)--*/
	background: url("../images/catalog/catalog-pic.png") center no-repeat;
	background-size: contain;
	margin-bottom: 2.625rem; /*-42px в макете / 16px (по умолчанию в браузере)--*/
}

.catalog__box {
	display: flex;
	justify-content: end;
	align-items: center;
	max-width: 67.5rem; /*--1080px в макете / 16px (по умолчанию в браузере)--*/
}

.catalog__content {
	display: flex;
	flex-direction: column;
	text-align: center;
	width: 100%;
	max-width: 29.375rem; /*--470px в макете / 16px (по умолчанию в браузере)--*/
	padding-top: 5.9375rem; /*--95px в макете / 16px (по умолчанию в браузере)--*/
}

.catalog__title {
	font-family: $secondaryFont;
	font-size: 1.875rem; /*--30px в макете / 16px (по умолчанию в браузере)--*/
	margin-bottom: 1rem; /*--16px в макете / 16px (по умолчанию в браузере)--*/
}

.catalog__text {
	font-family: $mainFont;
	font-size: 1.125rem; /*--18px в макете / 16px (по умолчанию в браузере)--*/
}

.catalog-box__button{
	display: flex;
	justify-content: center;
	margin-top: 2.5rem; 
	font-family: $secondaryFont;
	font-size: 0.875rem ;
	font-weight: 600;
}

.catalog-box__button--small {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin-top: 2.1875rem; 
	font-family: $secondaryFont;
	font-size: 0.875rem ;
	font-weight: 600;
}

.small-button {
	width: 14.375rem; /*--230px в макете / 16px (по умолчанию в браузере)--*/
}

.small-button--transparent {
	background-color: transparent;
}

.catalog__boxes {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	color: $mainColor;
}

.catalog__boxes:hover{
	color: #E7426A;
	border-color: #E7426A;
	transition: border-color .1s linear, color .1s linear;
}

.catalog__boxes:active{
	color:#F7F7F7;
	background-color:#E7426A;
	transition: background .1s linear, color .1s linear;
}

.catalog {
	display: flex;
	width: 100%;
	flex-direction: column;
	justify-content: space-between;
	max-width: 48rem; /*--768px в макете / 16px (по умолчанию в браузере)--*/
	margin: 0 auto;
}

.catalog__cards{
	display: flex;
	justify-content: space-between;
}

.catalog-cards__item {
	display: flex;
	flex-direction: column;
	width: 23.125rem; /*--370px в макете / 16px (по умолчанию в браузере)--*/
   height: 21.25rem; /*--340px в макете / 16px (по умолчанию в браузере)--*/
	align-items: center;
	justify-content: end;
	border-radius: 0.3125rem; /*--5px в макете / 16px (по умолчанию в браузере)--*/
	transition: 0.2s; 
}

.catalog-cards__item--bctubes {
	background: url("../images/catalog/catalog-tubes.jpg") center no-repeat;
	background-size: contain;
}

.catalog-cards__item--bceclairs {
	background: url("../images/catalog/catalog-eclairs.png") center no-repeat;
	background-size: contain;
}

.catalog-cards__item--bctubes:hover,
.catalog-cards__item--bceclairs:hover {
	transform: scale(1.09);
	cursor: pointer;
}

.catalog-cards__h3 {
	@include mainH4;
	color: $secondaryColor;
	padding-bottom: 2.75rem; /*--44px в макете / 16px (по умолчанию в браузере)--*/
}

.catalog-box__all {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	color: $mainColor;
}

.catalog-box__all:hover{
	color: #E7426A;
	border-color: #E7426A;
	transition: border-color .1s linear, color .1s linear;
}

.catalog-box__all:active{
	color:#F7F7F7;
	background-color:#E7426A;
	transition: background .1s linear, color .1s linear;
}