// Объявление переменных
$mainFont: 'BellotaText',
sans-serif;
$secondaryFont: 'Montserrat',
sans-serif;
$bakeryNameFont: 'RammettoOne',
sans-serif;
$mainColor: #292929;
$secondaryColor: #FFFFFF;
$accentColor: #F95D5E;
$navigationColor: #FFEFE7;
$introColor: #4E1502;